@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* btn-1 */
.btn {
  padding: 20px 40px;
  background: #0780dd;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  border: 0;
  outline: 0;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
  transition: 0.3s;
}

.btn span {
  margin-right: 5px;
}

.btn:hover {
  background: #0970be;
  transform: translateY(-20%);
}

/* BTN-2 */

.btn-2 {
  font-size: 1rem;
  padding: 20px 40px;
  color: #fe4880;
  border: 3px solid #fe4880;
  border-radius: 5px;
  background-image: linear-gradient(to right, transparent 50%, #fe4880 50%);
  background-size: 1000%;
  background-position: 0%;
  transition: 0.4s;
}

.btn-2:hover {
  color: #fff;
  background-position: 100%;
}

/* BTN-3 */

.btn-3 {
  padding: 20px 40px;
  border: 3px solid #11ac19;
  font-size: 1rem;
  text-decoration: none;
  color: #11ac19;
  transition: 0.3s;
  border-radius: 5px;
}

.btn-3:hover {
  background: #11ac19;
  color: #fff;
}

/* BTN-4 */

.btn-4 {
  padding: 20px 30px;
  border: 2px solid #17c3b2;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: #17c3b2;
}

.btn-4::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #17c3b2;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.btn-4:hover::before {
  width: 105%;
}

.btn-4:hover {
  color: #111;
}
